* {
  /*border-radius: 5px;*/
  font-family: 'Asap', sans-serif;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
}

body {
  background: black;
  background-image: url(../images/background1.jpeg);
  background-repeat: no-repeat;
  align: center;
  width: 100%;
  margin: auto;
  padding: none;
  font-size: 16px;
  height: 100%;
  background-size: auto-fit;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  padding: 5px;
  margin: none;
  text-align: center;
  align-items: center;
}

#nav li {
  list-style-type: none;
  background-color: none;
  padding: 5px;
  margin: 2px;
  float: left;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#nav a:hover {
  color: lightgreen;
}

/*
.button {
  margin: 5px 10% 5px 10%;
  list-style-type: none;
  color: white;
  background-color: lightgreen;
  padding: 5px;
  border: 1px solid yellow;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px purple;
  width: 80%;
}
*/

.button:hover {
  box-shadow: 2px 2px 2px yellow;
  color: yellow;
}

#nav {
  padding: 0px;
  background-color: white;
  padding: 5px;
  grid-row: 2;
  grid-column: 1/4;
  margin-bottom: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: repeat(4, auto-fit);
  grid-gap: 0;
  /*border: 3px solid #00ffcc;
  border-radius: 10px;*/
  margin-top: 10px;
  padding: 5px;
}

#header {
  background-color: rgba(151, 242, 142, .5);
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  padding: 3px;
}

/*
#leftbar {
  height: 500px;
  grid-column: 1/2;
  grid-row: 3;
  background-color: none;
  margin-right: 15px;
  width: 150px;
  overflow: auto;
  border-right: 2px solid lightgreen;
}
*/

#article {
  height: auto;
  grid-column: 1/4;
  grid-row: 3;
  background-color: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto-fit);
  width: auto;
  height: auto-fit;
  /*background-size: contain;
  background-image: url(../images/raveback.png);*/
  color: white;
  font-size: 18px;
}

.bio {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 80%;
  grid-row: auto;
  border-bottom: 2px solid #fc02ce;
  border-radius: 5px;
  margin-left: 5%;
  background: rgba(255, 255, 255, .9);
}

.portrait {
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  height: auto;
  width: 150px;
  margin-right: 15px;
  border-radius: 0px 15px 0px 15px;
}

.events {
  display: inline;
  width: 250px;
  height: auto;
  border-radius: 0px 15px 0px 15px;
}

.tag {
  font-size: 12px;
}

figcaption {
  width: inherit;
  color: black;
  font-weight: bold;
}

footer {
  grid-row: 4;
  grid-column: 1/4;
  background-color: rgba(151, 242, 142, .5);
  margin-top: 10px;
}

img .logo {
  height: 50px;
}

h6 {
  float: left;
}

h1 {
  margin: 0px;
  padding: 0px;
  letter-spacing: 4px;
  font-size: 60px;
  color: white;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #fc02ce;
}