* {
  /*border-radius: 5px;*/
  font-family: sans-serif;
}

body {
  background: linear-gradient(#ffffff, #fcf658, lightgreen);
  align: center;
  width: 90%;
  margin: auto;
  font-size: 16px;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: black;
}

#nav li {
  margin: 10px;
  list-style-type: none;
  background-color: white;
  padding: 5px;
  border: 1px solid yellow;
  text-align: center;
  float: left;
  display: inline;
  border-radius: 5px;
  box-shadow: 2px 2px 2px purple;
}

#nav li:hover {
  box-shadow: 2px 2px 2px yellow;
  color: yellow;
}

.button {
  margin: 5px 10% 5px 10%;
  list-style-type: none;
  color: white;
  background-color: lightgreen;
  padding: 5px;
  border: 1px solid yellow;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px purple;
  width: 80%;
}

.button:hover {
  box-shadow: 2px 2px 2px yellow;
  color: yellow;
}

#nav {
  background-color: lightgreen;
  padding: 5px;
  grid-row: 2;
  grid-column: 1/4;
  margin-bottom: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: repeat(4, auto-fit);
  grid-gap: 0;
  border: 3px solid #00ffcc;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

#header {
  background-color: white;
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  border: purple;
}

/*
#leftbar {
  height: 500px;
  grid-column: 1/2;
  grid-row: 3;
  background-color: none;
  margin-right: 15px;
  width: 150px;
  overflow: auto;
  border-right: 2px solid lightgreen;
}
*/

#article {
  height: auto;
  grid-column: 1/4;
  grid-row: 3;
  margin-left: 15px;
  background-color: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto-fit);
  width: auto;
  height: auto-fit;
}

.bio {
  padding: 10px;
  margin-top: 5px;
  width: 80%;
  grid-row: auto;
  border-bottom: 2px solid lightgreen;
  border-radius: 5px;
  margin-left: 5%;
}

.portrait {
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  height: auto;
  width: 150px;
  margin-right: 15px;
  border-radius: 0px 15px 0px 15px;
}

.events {
  display: inline;
  width: 250px;
  height: auto;
  border-radius: 0px 15px 0px 15px;
}

.tag {
  font-size: 12px;
}

figcaption {
  width: inherit;
  color: white;
  font-weight: bold;
}

footer {
  grid-row: 4;
  grid-column: 1/4;
  background-color: none;
  margin-top: 10px;
}

img .logo {
  height: 50px;
}

h6 {
  float: left;
}